In [1]:
import pandas as pd
import numpy as np

In [2]:
car=pd.read_csv("C:/Users/Mano/Downloads/auto-mpg.data",delim_whitespace=True,header=None,names=["mpg","cylinders","displacement","horsepower","weight","acceleration","modelyear","origin","carname"],na_values="?")

In [3]:
car.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,modelyear,origin,carname
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

# Handling Missing Values

In [4]:
car.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
modelyear       0
origin          0
carname         0
dtype: int64

In [5]:
x=car.iloc[:,1:8].values

In [6]:
y=car.iloc[:,0].values

# Splitting The Dataset Into Dependent And Independent Variable.

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [8]:
from sklearn.preprocessing import StandardScaler
sd = StandardScaler()
x_train = sd.fit_transform(x_train)
x_test=sd.fit_transform(x_test)

In [9]:
x_train

array([[ 1.49526939,  1.22961301,  1.2292325 , ..., -0.79520768,
        -1.13752513, -0.73301171],
       [-0.85285735, -0.92367663, -1.16035273, ...,  1.24411524,
        -1.41177304,  0.5068698 ],
       [-0.85285735, -0.92367663, -0.68243568, ...,  0.05760009,
         1.05645814,  0.5068698 ],
       ...,
       [-0.85285735, -1.206235  , -1.45241314, ...,  1.42950823,
        -0.86327722,  0.5068698 ],
       [ 0.32120602,  0.56706235, -0.09831485, ..., -0.2390287 ,
        -1.41177304, -0.73301171],
       [-0.85285735, -0.99188037, -0.86829231, ...,  0.31715028,
        -0.31478141,  0.5068698 ]])